*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    width: 700px;
    align-items: center;
    flex-direction: column;
   
    background-color: #d3d9da;
    border: none;
    border-radius: 20px;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin-inline: 10px;
    margin-inline-start: 5px;
    align-items: center;
    width: 90%;
    background-color: #d3d9da;
    height: 10vh;
    margin-bottom: 200px;
}

h4{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

#stopwatch{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 20px;
    background-color: rgb(131, 131, 251);
    width: 130px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

body{
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



#timerdisplay {
    position: relative;
    width: 150px; /* Adjust size as needed */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    background: #222;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    margin-left: 190px;
    margin-bottom: 80px;
}

#timerdisplay::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #00ffcc; /* Change color if needed */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


#buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#btn{
    font-size: 20px;
    background-color: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}

#btnstart{
    background-color: #00ffff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    margin: 10px;
    
}

#btnstop{
    background-color: #ff00f7;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    margin: 10px;
}

#btnreset{
    background-color: #9696f5;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    margin: 10px;
}



